Listen 80

<VirtualHost *:80>

    DocumentRoot "/var/www/html"
    ServerName ec2-public-ip

    <Directory "/var/www/html">
        Options Indexes FollowSymLinks
        AllowOveride All
        Require All Granted
    </Directory>

    Errorlog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/error.log combined
</VirtualHost>
